
body {
  color: white;
  min-height: 100vh;
  height: 100%;
  background: linear-gradient(-45deg, darkgreen, #1f1f1f 30%);
  font-family: Arial;
}

form {
  position: sticky;
  top: 5px;
  width: 300px;
}

input {
  margin-bottom: 5px;
  padding: 12px;
  width: 90%;
  border: 0px;
  border-radius: 10px;
}

.inputbutton{
  padding: 12px;
  width: 30%;
  border: 0px;
  border-radius: 10px;
}

button {
  padding: 10px;
  border: 0px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.logout{
  position: absolute;
  right: 10px;
}

.rightside{
  position: absolute;
  left: 350px;
}

table{
  text-align: center;
}

.conferencestable{
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

fieldset{
  border-color: transparent;
}

.conferenceForm{
  position: fixed;
  height: 100vh;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  margin-left: -10px;
  margin-top: -10px;
}

th, td{
  padding-inline: 10px;
}

.modalbackground{
  position: absolute;
  z-index: 999;
  margin-left: -10px;
  margin-top: -10px;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  /* pointer-events: none; */
}

.modalform{
  width: 320px;
  position: absolute;
  border-radius: 10px;
  top: 30%;
  left: 40%;
  background: #1f1f1f;
  text-align: center;
}

.cancel{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 45px;
  border-radius: 100%;
  zoom: 50%;
}
